/*SOURCES https://getcssscan.com/css-buttons-examples*/
.background {
  background-image: url(https://raw.githubusercontent.com/tyehx/project-web-dev-2026/main/media/background%20webdev.jpg);
  background-size: cover;
  background-position: center;
}
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


#RollKnop {
  display: block;
  margin: 10px auto;
  color: black;
}

#regels {
  display: block;
  margin: 10px auto;
  width: fit-content;
}

label[for="regels"] {
  display: block;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
    text-align: center;
}

#naamInvoer {
    display: block;
    margin: 10px auto;
    padding: 6px 16px;
    font-size: 14px;
    color: black;
}

body {
  color: white;
}

a {
  color: white;
}

a:visited {
  color: white;
}


@keyframes shake {
  0% { transform: translate(0) }
  25% { transform: translate(-10px) }
  50% { transform: translate(10px) }
  75% { transform: translate(-10px) }
  100% { transform: translate(0) }
}

.shake {
  animation: shake 0.5s;
}

#hulpKnop {
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}